APP_NAME=Laravel
APP_ENV=
APP_KEY=base64:q+i27fDHRex9gyi2yso9VjQnbumiOPU4afg7aZ/VviQ=
APP_DEBUG=true
# DOMAIN=.taxyaar-backend.test
# DOMAIN=localhost:5173
APP_URL=https://taxyaar-backend.test

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug


DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=taxyaar_backend
DB_USERNAME=taxyaar_user
DB_PASSWORD=myadmin

# Help center database
HELP_CENTER_DB_CONNECTION=help_center_db
HELP_CENTER_DB_HOST=127.0.0.1
HELP_CENTER_DB_PORT=3306
HELP_CENTER_DB_DATABASE=taxyaar_help_center
HELP_CENTER_DB_USERNAME=taxyaar_user
HELP_CENTER_DB_PASSWORD=myadmin

SESSION_DRIVER=cookie
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.taxyaar-backend.test
SESSION_SECURE_COOKIE=true             # ? force secure (HTTPS only)
SESSION_HTTP_ONLY=true                 # ? already default, but explicit is good
SESSION_SAME_SITE=none                 # ? REQUIRED when cookie is shared across subdomains


BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

JWT_SECRET=q2TFFmDofOLKEgygbz9NDj4vayIIadVX3L0nKXqFJGGxUEmAhSoiOIfxvuK9YycS

JWT_ALGO=HS256
AUTH_GUARD=api
AUTH_PASSWORD_BROKER=users

JWT_TTL=60
JWT_REFRESH_TTL=20160
SESSION_SECURE_COOKIE=true

TOKEN_EXPIRE_DURATION=20160

WWWGROUP=1000
WWWUSER=1000


ERI_STORAGE_PATH=app/eri

ERI_PRIVATE_KEY=${ERI_STORAGE_PATH}/private.key
ERI_PUBLIC_KEY=${ERI_STORAGE_PATH}/public.pem
ERI_PUBLIC_CERT_PATH=${ERI_STORAGE_PATH}/agencykey.crt
ERI_PKCS12_PATH=${ERI_STORAGE_PATH}/agencykey.p12
ERI_PKCS12_PASSWORD=kushal94

# UAT Credentials
ERI_SERVICE_NAME=ErajVgnDataService
ERI_USER_ID=ERIP011434
ERI_PASSWORD=Oracle@123

# ERIP014181
# ERI_KEYSTORE_PATH
# ERI_KEYSTORE_PASS
# ERI_PUBLIC_KEYSTORE_PATH
# ERI_PUBLIC_KEYSTORE_PASS
#  $this->keystorePath = env('ERI_KEYSTORE_PATH', '<private key path>');
#         $this->keystorePass = env('ERI_KEYSTORE_PASS', '<keystore pass>');
#         $this->publicKeystorePath = env('ERI_PUBLIC_KEYSTORE_PATH', '<public file path>');
#         $this->publicKeystorePass = env('ERI_PUBLIC_KEYSTORE_PASS', 'KEYSTORE PASSORD>'); /
